@{
    ViewData["Title"] = "Página de Contacto";
}

<div class="text-center">
    <h1 class="display-4">Llamanos al 800 123 4567</h1>
    <p>Adora a nuestro señor en <a href="www.activacancun.com.mx"></a>.</p>
</div>
