@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Adora a nuestro señor en <a href="www.activacancun.com.mx">Activa Radio</a>.</p>
</div>
