@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Adora a nuestro señor en <a href="www.activacancun.com.mx">Activa Radio</a>.</p>
    <p>En camara parece parezco delgado, pero en realidad estoy gordo</p>
    <p>Necesito un buen empleo</p>
</div>
