@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Adora a nuestro señor en <a href="www.activacancun.com.mx"></a>.</p>
    <p>Estoy gordito</p>
    <p>BAja de peso, te ayudará con tu salud</p>
</div>